@media (max-width: 1525px) {
    #cards {
        .card_wrapper {
            .card {
                .card_text {

                    .card_text_right {
                        li {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1425px) {
    #cards {
        .card_wrapper {
            gap: 20px;
            .card {
                .card_text {
                    h2 {
                        font-size: 30px;
                    }

                    .card_text_right {
                        width: 124px;
                        li {
                            font-size: 15px;
                        }
                    }

                    button {
                        white-space: wrap;
                        width: 100%;
                    }

                    .card_text_left {
                        width: 100%;
                    }
                }

            }

            .card_red {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h2 {
                    margin-bottom: 25px;
                }

                .card_red_block {
                    gap: 25px;
                    margin-bottom: 30px;
                }

                button {
                    font-size: 22px;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    header {
        .main_container {
            flex-direction: column;

            .logo {
                margin-bottom: 75px;
            }

            nav {
                margin-bottom: 44px;
            }

            .contact {
                padding: 36px 0 22px 0;
                text-align: center;
                width: 100vw;
                background-color: #F4F4F4FF;
            }

            .request_call_in {
                padding-bottom: 48px;
                width: 100vw;
                text-align: center;
                background-color: #F4F4F4FF;
            }
        }
    }

    #cards {
        .cards_title {
            padding: 0;

            h1 ,
            p {
                text-align: center;
            }
            
            .main_container {
                text-align: center;
                padding: 47px 15px;
                background-color: #fff;
            }

            .cards_title_btns {
                flex-direction: column;

                button {
                    margin-bottom: 23px;
                }
            }
        }
        .card_wrapper { 

            .main_container {
                justify-content: center;
                gap: 15px;
            }

            .card,
            .card_red { 
                width: calc(100% / 2 - 20px);
            }
        }
    }

    #contact {
        .main_container {
            .contact_text {
                h2 {
                    max-width: 550px;
                    font-size: 45px;
                }
            }
        }
    }

    footer {
        .main_container {
            flex-direction: column;

            .footer_logo,
            .footer_contact {
                margin-bottom: 50px;
            }
        }
    }
}

@media (max-width: 1200px) {
    #contact {
        padding: 55px 0 0 0;
        .desktop {
            background-image: none;
            .contact_img {
                display: none;
            }

            .desktop_name {
                display: none;
            }

             .contact_text {

                h2 {
                    text-align: center;
                    margin: 0 auto;

                }

                p {
                    margin-top: 70px;
                    justify-content: center;
                    align-items: start;
                    input {
                        width: 40px;
                    }
                }

                .checkbox_text {
                    max-width: 345px;
                    margin: 30px auto 40px auto;
                }

                form {
                    flex-direction: column;
                }
             }

             .contact_bottom {  
                gap: 27px;
                flex-direction: column-reverse;
             }
        }

        .mobile_block {
            display: block;
            height: 550px;

            h3 {
                right: 420px;
            }

            .contact_img {
                width: 456px;
            }
        }
    }
}

@media (max-width: 993px) {
    #clients {
        .main_container {
            .popular_brand,
            .popular_model {
                text-align: center;
                flex-direction: column;
                justify-content: center;

                .brand_title {
                    margin-bottom: 31px;
                }

                .brand_links {
                    justify-content: center;
                }
            }
        }
    }
}

@media (max-width: 850px) {
    #cards {

        .cards_title {
            .btn_one {
                flex-direction: column;
                gap: 0;
            }

            button {
                width: 354px;
            }
        }
        .card_wrapper {
            .main_container {
                .card ,
                .card_red {
                    width: calc(100%);
                }
            }
        }
    }

    #contact {
        overflow-x: hidden;

        .main_container {
            .contact_text {
                padding: 40px;

                h2 {
                    font-size: 40px;
                }
            }

            .contact_bottom {
                margin-bottom: 20px;
                h4 {
                    max-width: 225px;
                    text-align: center;
                    font-size: 30px;
                }
            
            }
        }

        .mobile_block {


            .contact_img {
                right: -100px;
            }

            h3 {
                top: 100px;
                right: 250px;
                span {
                    font-size: 12px;
                }
            }
        }


    }

    .modal_red {
        overflow: hidden;
        width: 480px;
        height: 800px;

        .modal_red_text {
            padding: 45px;
            width: 100%;
            height: 402px;
            top: 0;
            margin: 0 auto;
            left: 0;
            right: 0;

            h1 {
                font-size: 35px;
            }

            .modal_name {
                top: 485px;
                left: 250px;
            }
            
        }
        .modal_red_img {
            width: auto;
            height: 400px;
            position: absolute;
            bottom: 0;
        }
    }



}

@media (max-width: 576px) {
    header {
        .main_container {
            padding: 35px 0;
        }
    }
    #clients {
        .main_container {
            padding: 0 30px;
        }
    }

    #cards {
        .card_wrapper {
            .card {
                .card_text {
                    gap: 8px;
                    ul {
                        li {
                            font-size: 15px;
                            width: 100px;
                        }
                    }

                    button {
                        font-size: 13px;
                    }
                }
            }
        }
        .pagination {
            .numbers {
                gap: 15px;
            }
        }
    }
    
}

@media (max-width: 540px) {
    .modal_red {
        width: 95%;

        .modal_red_text {
            padding: 30px;

            h1 {
                font-size: 30px;
            }

            .modal_name {
                left: 225px;
            }
        }
    }
}

@media (max-width: 480px) {
    #clients {
        .main_container {
            padding: 0 10px;
        }
    }
    #contact {
        .mobile_block {
            h3 {
                right: 215px;
            }
        }
    }
}