* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

.main_container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

header .main_container {
  padding: 50px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .main_container nav {
  display: flex;
  align-items: center;
  gap: 63px;
}
header .main_container nav a {
  font-size: 17px;
  color: #000000;
  font-weight: 500;
  font-family: "Gilroy", sans-serif;
}
header .main_container .contact h4 {
  margin-bottom: 6px;
  font-size: 17px;
  color: #000000;
  font-weight: 500;
  font-family: "Gilroy", sans-serif;
}
header .main_container .contact h4 span {
  margin-right: 5px;
  color: green;
  font-size: 30px;
}
header .main_container .contact h4 b {
  font-weight: bold;
}
header .main_container .contact a {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #30b839;
}
header .main_container .request_call {
  border: none;
  cursor: pointer;
  padding: 18px 29px;
  font-size: 21px;
  color: #fff;
  font-weight: 500;
  font-family: "Gilroy", sans-serif;
  background-color: #a81610;
}

#cards {
  background-color: #f3f3f3;
}
#cards .cards_title {
  padding-bottom: 66px;
  padding-top: 78px;
}
#cards .cards_title h1 {
  font-size: 49px;
  color: #000000;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  text-align: left;
  margin-bottom: 30px;
}
#cards .cards_title p {
  font-size: 17px;
  color: #000000;
  font-weight: 500;
  font-family: "Gilroy", sans-serif;
  margin-bottom: 53px;
}
#cards .cards_title .cards_title_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#cards .cards_title .btn_one {
  display: flex;
  align-items: center;
  gap: 36px;
}
#cards .cards_title .btn_one .red_btn {
  font-size: 21px;
  color: #fff;
  font-weight: 500;
  font-family: "Gilroy", sans-serif;
  padding: 22px 119px;
  background-color: #a81610;
}
#cards .cards_title .btn_one button {
  font-size: 21px;
  color: #000;
  font-weight: 500;
  font-family: "Gilroy", sans-serif;
  padding: 22px 78px;
  border: 1px solid #a81610;
  background-color: transparent;
}
#cards .cards_title .btn_two button {
  font-size: 21px;
  color: #000;
  font-weight: 500;
  font-family: "Gilroy", sans-serif;
  padding: 22px 78px;
  border: 1px solid #a81610;
  background-color: transparent;
}
#cards .card_wrapper .main_container {
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
}
#cards .card_wrapper .card {
  box-shadow: 2px 4px 13px 0px rgba(35, 31, 32, 0.75);
  -webkit-box-shadow: 2px 4px 13px 0px rgba(35, 31, 32, 0.75);
  -moz-box-shadow: 2px 4px 13px 0px rgba(35, 31, 32, 0.75);
  width: calc(33.3333333333% - 25.3333333333px);
  padding: 14px;
  border: 1px solid #d6d5d5;
}
#cards .card_wrapper .card .card_img {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #d6d5d5;
  margin-bottom: 24px;
}
#cards .card_wrapper .card .card_img .slider_btn_left,
#cards .card_wrapper .card .card_img .slider_btn_right,
#cards .card_wrapper .card .card_img .slider_btn_left_one,
#cards .card_wrapper .card .card_img .slider_btn_right_one {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: #908e8f;
}
#cards .card_wrapper .card .card_img .slider_btn_right {
  left: auto;
  right: 0;
  top: 45%;
  transform: rotate(180deg);
}
#cards .card_wrapper .card .card_img .slider_btn_right_one {
  left: auto;
  right: 0;
  top: 45%;
  transform: rotate(180deg);
}
#cards .card_wrapper .card .card_img .mySwiper {
  z-index: 1;
}
#cards .card_wrapper .card .card_img .mySwiper img {
  width: 100%;
}
#cards .card_wrapper .card .card_img .mySwiperOne {
  z-index: 1;
}
#cards .card_wrapper .card .card_img .mySwiperOne img {
  width: 100%;
}
#cards .card_wrapper .card .card_text {
  display: flex;
  align-items: stretch;
  gap: 14px;
  padding: 0 0 0 6px;
}
#cards .card_wrapper .card .card_text .card_text_left {
  width: 267px;
}
#cards .card_wrapper .card .card_text .card_text_left .card_list {
  margin-top: 30px;
}
#cards .card_wrapper .card .card_text .card_text_left .card_list .circle_in {
  position: relative;
}
#cards .card_wrapper .card .card_text .card_text_left .card_list .circle_in .circle {
  position: absolute;
  right: -10px;
  top: 3px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #efe8eb;
}
#cards .card_wrapper .card .card_text .card_text_right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
  background-color: #ededed;
}
#cards .card_wrapper .card .card_text .card_text_right ul {
  width: 100%;
  padding: 25px 7px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 35px;
}
#cards .card_wrapper .card .card_text .card_text_right li {
  display: flex;
  white-space: wrap;
}
#cards .card_wrapper .card .card_text .card_text_right li span {
  margin-right: 5px;
}
#cards .card_wrapper .card .card_text h2 {
  font-size: 37px;
  color: #000000;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  margin-bottom: 10px;
}
#cards .card_wrapper .card .card_text .card_list {
  margin-bottom: 16px;
  display: flex;
  align-items: start;
}
#cards .card_wrapper .card .card_text ul li {
  white-space: nowrap;
  width: 110px;
  font-size: 21px;
  color: #000;
  font-weight: 500;
  font-family: "Gilroy", sans-serif;
}
#cards .card_wrapper .card .card_text ul li span {
  margin-right: 11px;
  color: #a81610;
}
#cards .card_wrapper .card .card_text button {
  margin-top: 10px;
  white-space: nowrap;
  width: 266px;
  padding: 18px;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
}
#cards .card_wrapper .card .card_text .btn_red {
  background-color: #a51e22;
}
#cards .card_wrapper .card .card_text .btn_black {
  background-color: #1a1a20;
}
#cards .card_wrapper .card .card_text .btn_grey {
  background-color: #909090;
}
#cards .card_wrapper .card_red {
  box-shadow: none;
  width: calc(33.3333333333% - 25.3333333333px);
  border: 1px solid #bebdbd;
  padding: 41px;
  background-color: #a51f23;
}
#cards .card_wrapper .card_red h2 {
  font-size: 37px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  margin-bottom: 70px;
}
#cards .card_wrapper .card_red .card_red_block {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 56px;
}
#cards .card_wrapper .card_red .card_red_block .card_red_block_img {
  width: 51px;
  text-align: center;
}
#cards .card_wrapper .card_red .card_red_block span {
  font-size: 25px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Gilroy", sans-serif;
}
#cards .card_wrapper .card_red button {
  padding: 20px 0;
  background-color: #fff;
  width: 100%;
  font-size: 28px;
  color: #231f20;
  font-weight: 500;
  font-family: "Gilroy", sans-serif;
}
#cards .pagination {
  margin-top: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#cards .pagination .more_btn {
  margin-top: 10px;
  white-space: nowrap;
  width: 266px;
  padding: 18px;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  background-color: #a51e22;
}
#cards .pagination .numbers {
  margin: 40px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
#cards .pagination .numbers button {
  font-family: "Gilroy", sans-serif;
  color: rgb(35, 31, 32);
  line-height: 0.947;
  font-weight: bold;
  background-color: transparent;
}

#clients {
  background-color: #d8d8d8;
  padding: 68px 0;
}
#clients .main_container h2 {
  text-align: center;
  font-size: 35px;
  color: #000000;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  margin-bottom: 50px;
}
#clients .main_container .popular_brand {
  margin-bottom: 22px;
}
#clients .main_container .popular_brand .brand_links {
  padding: 8px 17px;
}
#clients .main_container .popular_brand,
#clients .main_container .popular_model {
  display: flex;
}
#clients .main_container .popular_brand .brand_title,
#clients .main_container .popular_model .brand_title {
  font-size: 15px;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  color: #000;
  margin-right: 20px;
}
#clients .main_container .brand_links,
#clients .main_container .brand_links {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
#clients .main_container .brand_links .brand_link,
#clients .main_container .brand_links .brand_link {
  border-radius: 20px;
  padding: 8px 30px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Gilroy", sans-serif;
  color: #707070;
  background-color: #f5f8f9;
}

footer {
  background-color: #d8d8d8;
  padding: 47px 0;
}
footer .main_container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
footer .main_container .footer_logo {
  max-width: 292px;
}
footer .main_container .footer_logo p {
  margin-top: 38px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Gilroy", sans-serif;
  color: #000;
}
footer .main_container .footer_contact {
  max-width: 404px;
}
footer .main_container .footer_contact h4 {
  font-size: 22px;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  color: #000;
  margin-bottom: 28px;
}
footer .main_container .footer_contact p {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Gilroy", sans-serif;
  color: #000;
}
footer .main_container .footer_text {
  max-width: 315px;
}
footer .main_container .footer_text p {
  font-size: 15px;
  font-weight: 400;
  font-family: "Gilroy", sans-serif;
  color: #000;
}

@media (max-width: 1525px) {
  #cards .card_wrapper .card .card_text .card_text_right li {
    font-size: 16px;
  }
}
@media (max-width: 1425px) {
  #cards .card_wrapper {
    gap: 20px;
  }
  #cards .card_wrapper .card .card_text h2 {
    font-size: 30px;
  }
  #cards .card_wrapper .card .card_text .card_text_right {
    width: 124px;
  }
  #cards .card_wrapper .card .card_text .card_text_right li {
    font-size: 15px;
  }
  #cards .card_wrapper .card .card_text button {
    white-space: wrap;
    width: 100%;
  }
  #cards .card_wrapper .card .card_text .card_text_left {
    width: 100%;
  }
  #cards .card_wrapper .card_red {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #cards .card_wrapper .card_red h2 {
    margin-bottom: 25px;
  }
  #cards .card_wrapper .card_red .card_red_block {
    gap: 25px;
    margin-bottom: 30px;
  }
  #cards .card_wrapper .card_red button {
    font-size: 22px;
  }
}
@media (max-width: 1300px) {
  header .main_container {
    flex-direction: column;
  }
  header .main_container .logo {
    margin-bottom: 75px;
  }
  header .main_container nav {
    margin-bottom: 44px;
  }
  header .main_container .contact {
    padding: 36px 0 22px 0;
    text-align: center;
    width: 100vw;
    background-color: #f4f4f4;
  }
  header .main_container .request_call_in {
    padding-bottom: 48px;
    width: 100vw;
    text-align: center;
    background-color: #f4f4f4;
  }
  #cards .cards_title {
    padding: 0;
  }
  #cards .cards_title h1,
  #cards .cards_title p {
    text-align: center;
  }
  #cards .cards_title .main_container {
    text-align: center;
    padding: 47px 15px;
    background-color: #fff;
  }
  #cards .cards_title .cards_title_btns {
    flex-direction: column;
  }
  #cards .cards_title .cards_title_btns button {
    margin-bottom: 23px;
  }
  #cards .card_wrapper .main_container {
    justify-content: center;
    gap: 15px;
  }
  #cards .card_wrapper .card,
  #cards .card_wrapper .card_red {
    width: calc(50% - 20px);
  }
  footer .main_container {
    flex-direction: column;
  }
  footer .main_container .footer_logo,
  footer .main_container .footer_contact {
    margin-bottom: 50px;
  }
}
@media (max-width: 993px) {
  #clients .main_container .popular_brand,
  #clients .main_container .popular_model {
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
  #clients .main_container .popular_brand .brand_title,
  #clients .main_container .popular_model .brand_title {
    margin-bottom: 31px;
  }
  #clients .main_container .popular_brand .brand_links,
  #clients .main_container .popular_model .brand_links {
    justify-content: center;
  }
}
@media (max-width: 850px) {
  #cards .cards_title .btn_one {
    flex-direction: column;
    gap: 0;
  }
  #cards .cards_title button {
    width: 354px;
  }
  #cards .card_wrapper .main_container .card,
  #cards .card_wrapper .main_container .card_red {
    width: 100%;
  }
}
@media (max-width: 576px) {
  #clients .main_container {
    padding: 0 30px;
  }
}/*# sourceMappingURL=style.css.map */