* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

.main_container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}

$Gilroy: 'Gilroy', sans-serif;


// modal_red
.modal_red_bg {
    display: none;
    position: fixed;
    z-index: 14;
    width: 100%;
    height: 100%;
    background-color: rgba(35,31,32,0.75);
}

.modal_red_bg.active {
    display: block;
}

.modal_red {
    display: none;
    background-color: #DE4139FF;
    position: relative;
    z-index: 15;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 760px;

    .modal_red_img {
        width: 100%;
        height: 100%;
    }

    .modal_red_text {
        width: 340px;
        background-color: #fff;
        position: absolute;
        top: 19px;
        right: 19px;
        height: 90%;
        padding: 25px;

        .modal_name {
            position: absolute;
            font-size: 22px;
            top: 75px;
            left: -158px;
            font-weight: bold;
            font-family: $Gilroy;
            color: #fff;

            span {
                margin-top: 20px;
                font-size: 13px;
                font-weight: 400;
            }
        }
        
        h1 {
            font-size: 26px;
            font-family: $Gilroy;
            color: rgb(0, 0, 0);
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        label {
            display: block;
            font-size: 11px;
            font-family: $Gilroy;
            color: rgb(120, 120, 120);
            text-transform: uppercase;
            margin-bottom: 9px;
        }

        input {
            padding: 20px;
            width: 100%;
            height: 40px;
            border: 2px solid #DBDDDCFF;
            margin-bottom: 26px;

            &:focus {
                outline: none;
            }
        }

        button {
            height: 53px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 11px;
            font-size: 21px;
            font-family: $Gilroy;
            color: rgb(255, 255, 255);
            font-weight: bold;
            background-color: #363636FF;
        }

        .button_underline {
            margin-top: 16px;
            display: flex;
            align-items: start;
            gap: 8px;

            .checkbox {
                input {
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    accent-color: #363636FF;
                }
            }

            p {
                font-size: 9px;
                font-family: $Gilroy;
                color: rgb(120, 120, 120);

                a {
                    border-bottom: 1px dotted rgb(120, 120, 120);
                }
            }
            
        }
    }


}

.modal_red.active {
    display: block;
}
// modal_red

// header
header {
    .main_container {
        padding: 50px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        nav {
            display: flex;
            align-items: center;
            gap: 63px;
            a {
                font-size: 17px;
                color: #000000;
                font-weight: 500;
                font-family: $Gilroy;
            }
        }

        .contact {
            
            h4 {
                margin-bottom: 6px;
                font-size: 17px;
                color: #000000;
                font-weight: 500;
                font-family: $Gilroy;

                span {
                    margin-right: 5px;
                    color: green;
                    font-size: 30px;

                }

                b {
                    font-weight: bold;
                }
            }

            a {
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 12px;
                width: 43px;
                height: 43px;
                border-radius: 50%;
                background-color: #30B839FF;
            }

        }
        .request_call {
            border: none;
            cursor: pointer;
            padding: 18px 29px;
            font-size: 21px;
            color: #fff;
            font-weight: 500;
            font-family: $Gilroy;
            background-color: #a81610;
        }
    }
}
// header

// cards
#cards {
    background-color: #F3F3F3FF;
    .cards_title {
        padding-bottom: 66px;
        padding-top: 78px;
        h1 {
            font-size: 49px;
            color: #000000;
            font-weight: bold;
            font-family: $Gilroy;
            text-align: left;
            margin-bottom: 30px;
        }

        p {
            font-size: 17px;
            color: #000000;
            font-weight: 500;
            font-family: $Gilroy;
            margin-bottom: 53px;
        }

        .cards_title_btns {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .btn_one {
            display: flex;
            align-items: center;
            gap: 36px;

            .red_btn {
                font-size: 21px;
                color: #fff;
                font-weight: 500;
                font-family: $Gilroy;
                padding: 22px 119px;
                background-color: #a81610;
            }

            button {
                font-size: 21px;
                color: #000;
                font-weight: 500;
                font-family: $Gilroy;
                padding: 22px 78px;
                border: 1px solid #a81610;
                background-color: transparent;
            }
        }

        .btn_two {
            button {
                font-size: 21px;
                color: #000;
                font-weight: 500;
                font-family: $Gilroy;
                padding: 22px 78px;
                border: 1px solid #a81610;
                background-color: transparent;
            }
        }
    }

    .card_wrapper {

        .main_container {
            display: flex;
            // justify-content: center;
            // justify-content: space-between;
            flex-wrap: wrap;
            gap: 38px;

        }

        .card {
            box-shadow: 2px 4px 13px 0px rgba(35,31,32,0.75);
            -webkit-box-shadow: 2px 4px 13px 0px rgba(35,31,32,0.75);
            -moz-box-shadow: 2px 4px 13px 0px rgba(35,31,32,0.75);
            width: calc(100% / 3 - 76px / 3);
            padding: 14px;
            border: 1px solid #D6D5D5FF;
            .card_img {
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                border: 1px solid #D6D5D5FF;
                margin-bottom: 24px;

                .slider_btn_left, 
                .slider_btn_right,
                .slider_btn_left_one ,
                .slider_btn_right_one {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    cursor: pointer;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 2;
                    background-color: #908E8FFF;
                }

                .slider_btn_right {
                    left: auto;
                    right: 0;
                    top: 45%;
                    transform: rotate(180deg);
                }

                .slider_btn_right_one {
                    left: auto;
                    right: 0;
                    top: 45%;
                    transform: rotate(180deg);
                }

                .mySwiper {
                    z-index: 1;

                    img {
                        width: 100%;
                    }
                    
                }

                .mySwiperOne {
                    z-index: 1;

                    img {
                        width: 100%;
                    }
                    
                }
            }
            
            .card_text {
                display: flex;
                align-items: stretch;
                gap: 14px;

                .card_text_left {
                    width: 267px;

                    .card_list {
                        margin-top: 30px;

                        .circle_in {
                            position: relative;
    
                            .circle {
                                position: absolute;
                                right: -10px;
                                top: 3px;
                                width: 21px;
                                height: 21px;
                                border-radius: 50%;
                                background-color: #EFE8EBFF;
                            }
                        }
                    }
                }

                .card_text_right {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 45px;
                    background-color: #EDEDEDFF;

                    ul {
                        width: 100%;
                        padding: 25px 7px;
                        height: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        flex-direction: column;
                        gap: 35px;
                    }

                    li {
                        display: flex;
                        white-space: wrap;

                        span {
                            margin-right: 5px;
                        }

                    }
                }

                padding: 0 0 0 6px;

                h2 {
                    font-size: 37px;
                    color: #000000;
                    font-weight: bold;
                    font-family: $Gilroy;
                    margin-bottom: 10px;
                }

                .card_list {
                    margin-bottom: 16px;
                    display: flex;
                    align-items: start;
                }

                ul {
                    li {
                        white-space: nowrap;
                        width: 110px;
                        span {
                            margin-right: 11px;
                            color: #a81610;
                        }

                        font-size: 21px;
                        color: #000;
                        font-weight: 500;
                        font-family: $Gilroy;
                    }

                }

                button {
                    margin-top: 10px;
                    white-space: nowrap;
                    width: 266px;  
                    padding: 18px;
                    font-size: 15px;
                    text-transform: uppercase;
                    color: #ffffff;
                    font-weight: bold;
                    font-family: $Gilroy;
                }

                .btn_red {
                    background-color: #A51E22FF;
                }

                .btn_black {
                    background-color: #1A1A20FF;
                }

                .btn_grey {
                    background-color: #909090FF;
                }
            }
        }

        .card_red {
            box-shadow: none;
            width: calc(100% / 3 - 76px / 3);
            border: 1px solid #BEBDBDFF;
            padding: 41px;
            background-color: #a51f23;

            h2 {
                font-size: 37px;
                color: #ffffff;
                font-weight: bold;
                font-family: $Gilroy;
                margin-bottom: 70px;
            }

            .card_red_block {
                display: flex;
                align-items: center;
                gap: 30px;
                margin-bottom: 56px;

                .card_red_block_img {
                    width: 51px;
                    text-align: center;
                }

                span {
                    font-size: 25px;
                    color: #ffffff;
                    font-weight: 500;
                    font-family: $Gilroy;
                }
            }

            button {
                padding: 20px 0;
                background-color: #fff;
                width: 100%;
                font-size: 28px;
                color: #231f20;
                font-weight: 500;
                font-family: $Gilroy;
            }
        }
    }

    .pagination {
        margin-top: 78px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .more_btn {
            margin-top: 10px;
            white-space: nowrap;
            width: 266px;  
            padding: 18px;
            font-size: 15px;
            text-transform: uppercase;
            color: #ffffff;
            font-weight: bold;
            font-family: $Gilroy;
            background-color: #A51E22FF;
        }

        .numbers {
            margin: 40px 0;
            display: flex;
            align-items: center;
            gap: 20px;
            button {
                font-family: $Gilroy;
                color: rgb(35, 31, 32);
                line-height: 0.947;
                font-weight: bold;
                background-color: transparent;
            }
        }
    }
}
// cards

// clients
#clients {
    background-color: #D8D8D8FF;
    padding: 68px 0;

    .main_container {
        
            h2 {
                text-align: center;
                font-size: 35px;
                color: #000000;
                font-weight: bold;
                font-family: $Gilroy;
                margin-bottom: 50px;
            }

            .popular_brand {
                margin-bottom: 22px;

                

                .brand_links {
                    padding: 8px 17px;
                }
            }

            .popular_brand ,
            .popular_model {
                display: flex;
                align-items: center;

                .brand_title {
                    font-size: 15px;
                    font-weight: bold;
                    font-family: $Gilroy;
                    color: #000;
                    margin-right: 20px;
                }
            }

            .brand_links, 
            .brand_links {
                display: flex;
                align-items: center;
                gap: 10px;
                flex-wrap: wrap;

                .brand_link {
                    border-radius: 20px;
                    padding: 8px 30px;
                    font-size: 14px;
                    font-weight: 500;
                    font-family: $Gilroy;
                    color: #707070FF;
                    background-color: #F5F8F9FF;
                }
            }

    }
}
// clients


// contact
#contact {

    background-color: #F4F4F4FF;
    padding: 122px 0;

    .main_container {
        background-image: url('../images/contact_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .contact_img {
            width: 37%;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .contact_text {
            position: relative;
            z-index: 2;
            padding: 98px;
            h2 {
                max-width: 726px;
                font-size: 56px;
                color: #000000;
                font-weight: 400;
                font-family: $Gilroy;
                text-align: left;
                margin-bottom: 52px;

            }

            p {
                display: flex;
                gap: 15px;
                align-items: center;
                font-size: 17px;
                color: #000000;
                font-weight: 500;
                font-family: $Gilroy;
                margin-bottom: 27px;

                input {
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    accent-color: #A81610FF;
                }
            }
            form {
                display: flex;
                align-items: center;
                gap: 20px;

                input {
                    font-size: 20px;
                    color: #000000;
                    font-weight: 500;
                    font-family: $Gilroy;
                    padding: 48px;
                    height: 101px;
                    width: 345px;
                    border: 1px solid #C3C1C1FF;

                    &:focus {
                        outline: none;
                    }
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 72px;
                    font-size: 20px;
                    color: #fff;
                    font-weight: 500;
                    font-family: $Gilroy;
                    height: 101px;
                    width: 345px;
                    border: none;
                    background-color: #A81610FF;
                }
            }

            .checkbox_text {
                margin-top: 24px;
            }

        }

        .contact_bottom {
            display: flex;
            align-items: center;
            gap: 27px;
            h4 {
                margin-bottom: 6px;
                font-size: 23px;
                color: #000000;
                font-weight: 500;
                font-family: $Gilroy;

                span {
                    margin-right: 5px;
                    color: green;
                    font-size: 30px;

                }

                b {
                    font-weight: bold;
                }
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 12px;
                width: 43px;
                height: 43px;
                border-radius: 50%;
                background-color: #30B839FF;
            }

        }
        
        h3 {
            text-align: right;
            position: absolute;
            top: 192px;
            right: 30%;
            margin-bottom: 6px;
            font-size: 23px;
            color: #000000;
            font-family: $Gilroy;
            font-weight: 500;

            span {
                display: block;
                font-weight: 300;
                margin-top: 15px;
            }
        }
    }

    .mobile_block {
        display: none;
    }
}
// contact


// footer
footer {
    background-color: #D8D8D8FF;
    padding: 47px 0;

    .main_container {
        display: flex;
        align-items: start;
        justify-content: space-between;

        .footer_logo {
            max-width: 292px;

            p {
                margin-top: 38px;
                font-size: 15px;
                font-weight: 400;
                font-family: $Gilroy;
                color: #000;
            }
        }

        .footer_contact {
            max-width: 404px;

            h4 {
                font-size: 22px;
                font-weight: bold;
                font-family: $Gilroy;
                color: #000;
                margin-bottom: 28px;
            }
            
            p {
                margin-bottom: 15px;
                font-size: 15px;
                font-weight: 400;
                font-family: $Gilroy;
                color: #000;
            }
        }

        .footer_text {
            max-width: 315px;

            p {
                font-size: 15px;
                font-weight: 400;
                font-family: $Gilroy;
                color: #000;
            }
        }
    }
}
// footer


@import 'responsive';
